:root {
  /* Colors */
  --color-primary: #FFCC00;
  --color-secondary: #A6D5C2;
  --color-black: #020203;
  --color-grey: #F2F2F2;
  --color-link: #004899;

  /* Fonts */
  --font-family: 'Open Sans', sans-serif;

    /* Base fonts */
    --base-font-size: 1em;
    --base-font-weight: 400;
    --base-line-height: 1.7;

    /* Title fonts */
    --title-font-size: 2.75em;
    --title-font-weight: 300;
    --title-line-height: 1.4;

    /* Heading fonts */
    --heading-font-size: 1.75em;
    --heading-font-weight: 300;
    --heading-line-height: 1.4;

    /* Button fonts */
    --button-font-size: 1.25em;
    --button-font-weight: 700;
    --button-line-height: 1;

  /* Spacing */
  --spacing-unit: 1.5rem;
}
@media all and (min-width: 48rem) {
  :root {
    /* Base fonts */
    --base-font-size: 1.25em;

    /* Title fonts */
    --title-font-size: 4.5em;

    /* Heading fonts */
    --heading-font-size: 3em;

    /* Button fonts */
    --button-font-size: 1.5em;
  }
}

/*
====================
  General
====================
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

body {
  color: var(--color-black);
  font-family: var(--font-family);
}

h1 {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  line-height: var(--title-line-height);
}

h2 {
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
}

h3 {
  font-size: var(--button-font-size);
  font-weight: 300;
  line-height: 1;
}

p {
  max-width: 37.5rem;
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
}

a {
  padding-bottom: .3125rem;
  border-bottom: .1875rem solid var(--color-link);
  color: var(--color-link);
  font-weight: 700;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
a:focus,
a:hover,
a:active {
  border-bottom-color: transparent;
}

/* Hide info for screen readers: */
.screenreader {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 0, 0 0);
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
  overflow: hidden !important;
}

/*
====================
  Action Button
====================
*/

.action-button {
  position: relative;
  top: 0;
  z-index: 2;
  display: inline-block;
  min-width: 12.5rem;
  height: 3.125rem;
  padding: calc((3.125rem - var(--button-font-size)) / 2);
  border: 0;
  border-radius: .3125rem;
  outline: 0;
  margin: var(--spacing-unit) 0;
  color: #FFF;
  background-color: var(--color-black);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;
  line-height: 1.4;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
@media all and (min-width: 48rem) {
  .action-button {
    height: 4.0625rem;
    padding: calc((4.0625rem - var(--button-font-size)) / 2);
  }
}
.action-button::after {
  position: absolute;
  left: 0;
  top: .3125rem;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: .3125rem;
  background-color: rgba(0, 0, 0, .35);
  content: '';
  transition: all .3s ease-in-out;
}
.action-button:focus,
.action-button:hover {
  top: .3125rem;
}
.action-button:focus::after,
.action-button:hover::after {
  top: 0;
}

/*
====================
  CMD Icons
====================
*/

.cmd-icon {
  position: relative;
  z-index: 2;
  float: left;
  width: 6.25rem;
  height: 6.25rem;
  margin: var(--spacing-unit);
  margin-top: 0;
}
@media all and (min-width: 48rem) {
  .cmd-icon {
    width: 12.5rem;
    height: 12.5rem;
  }
}
.cmd-icon::before {
  position: absolute;
  left: 7.5%;
  top: 7.5%;
  z-index: -1;
  display: block;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background-color: var(--color-primary);
  content: '';
}

.cmd-icon > svg {
  width: 100%;
  height: 100%;
}

/*
====================
  Site Header
====================
*/

.site-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  background-color: var(--color-primary);
}

.site-header {
  display: block;
  width: 100%;
  max-width: calc(75rem + (2 * var(--spacing-unit)));
  padding: var(--spacing-unit);
}

.site-header .cmd-icon {
  width: 6.25rem;
  height: 6.25rem;
  margin: 0;
  margin-bottom: var(--spacing-unit);
}
@media all and (min-width: 48rem) {
  .site-header .cmd-icon {
    margin-bottom: calc(2 * var(--spacing-unit));
  }
}

.site-header h1 {
  clear: both;
  margin-bottom: calc(1.5 * var(--spacing-unit));
}
@media all and (min-width: 48rem) {
  .site-header h1 {
    margin-bottom: calc(3 * var(--spacing-unit));
  }
}

/*
====================
  Main
====================
*/

main {
  display: block;
  width: 100%;
}

/*
====================
  Page Section
====================
*/

.page-section {
  display: block;
  width: 100%;
  max-width: calc(75rem + (2 * var(--spacing-unit)));
  min-height: 100vh;
  padding: calc(1.5 * var(--spacing-unit)) 0;
  margin: 0 auto;
}
.page-section.special {
  padding: 0;
}
@media all and (min-width: 48rem) {
  .page-section {
    padding: calc(5 * var(--spacing-unit)) 0;
  }
}

.page-section > *:not(.cmd-icon):not(.testimonials) {
  display: block;
  width: 100%;
  max-width: calc(37.5rem + (2 * var(--spacing-unit)));
  padding: 0 var(--spacing-unit);
  margin-left: auto;
  margin-right: auto;
}

.page-section h2 {
  margin-bottom: calc(3 * var(--spacing-unit));
}

.page-section p {
  margin: var(--spacing-unit) auto;
}

.page-section-wrapper {
  display: block;
  width: 100%;
  background-color: var(--color-grey);
}

.page-section-wrapper .cmd-icon::before {
  display: none;
}

.page-section-wrapper h2 {
  margin-bottom: var(--spacing-unit);
}

/*
====================
  Testimonials
====================
*/

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-items: start;
  align-items: start;
  padding: var(--spacing-unit) 0;
  list-style-type: none;
}

.testimonials blockquote {
  position: relative;
  display: block;
  width: calc(100% - (2 * var(--spacing-unit)));
  padding: calc(3 * var(--spacing-unit)) var(--spacing-unit);
  border-radius: .3125rem;
  margin: var(--spacing-unit) auto;
  background-color: var(--color-primary);
  font-style: italic;
  line-height: var(--base-line-height);
}
@media all and (min-width: 48rem) {
  .testimonials blockquote {
    margin: calc(2 * var(--spacing-unit)) auto;
  }
}
.testimonials blockquote::before {
  position: absolute;
  left: -1.5625rem;
  top: -1.5625rem;
  float: left;
  width: 4.6875rem;
  height: 4.6875rem;
  background: url(../images/icons/man.svg) no-repeat center;
  content: '';
}
.testimonials blockquote:nth-child(even) {
  background-color: var(--color-grey);
}
.testimonials blockquote:nth-child(even)::before {
  background: url(../images/icons/woman.svg) no-repeat center;
}

/*
====================
  Courses
====================
*/

.course {
  display: block;
  width: 100%;
  margin: var(--spacing-unit) 0;
}

.course summary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3.125rem;
  padding: calc((3.125rem - var(--button-font-size)) / 2);
  border-radius: 5px;
  background-color: var(--color-grey);
  cursor: pointer;
}
@media all and (min-width: 48rem) {
  .course summary {
    height: 4.0625rem;
    padding: calc((4.0625rem - var(--button-font-size)) / 2);
  }
}

.course summary::-webkit-details-marker {
  flex: 0 0 auto;
  display: block;
  width: 1rem;
  height: 1rem;
  padding: .125rem;
}
@media all and (min-width: 48rem) {
  .course summary::-webkit-details-marker {
    padding: .25rem;
  }
}

.course summary > h3 {
  flex: 1 0 auto;
  margin-left: calc((3.125rem - var(--button-font-size)) / 2);
}

.page-section > article .course p {
  display: block;
  width: 100%;
  padding: var(--spacing-unit);
  margin: 0;
  /* background-color: var(--color-grey); */
}
